<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.DemoMapper" >




    <select  id="selectAll"   parameterType="Map" resultType="Map">

        select * from test WHERE id =#{id}

    </select>
    <!---->
    <!---->
    <!--<resultMap id="" type=""></resultMap>-->
    <!---->
    <!--<resultMap id="" type=""></resultMap>-->

</mapper>
